if SHIELD_WOOD40_RIGHT
    config ZMK_KEYBOARD_NAME
        default "wood40"

    config ZMK_SPLIT_ROLE_CENTRAL
        default y

    config SPI
        default y
    config INPUT
        default y
    config ZMK_POINTING
        default y
    config ZMK_MOUSE
        default y

    # PMW driver selection is set in wood40_right.conf:
    # CONFIG_PMW3610_ALT=y

endif

if SHIELD_WOOD40_LEFT || SHIELD_WOOD40_RIGHT
    config ZMK_SPLIT
        default y
endif
