if SHIELD_WOOD40_LEFT || SHIELD_WOOD40_RIGHT || SHIELD_WOOD40_DONGLE
    config ZMK_KEYBOARD_NAME
        default "wood40"

    config ZMK_SPLIT
        default y
endif

if SHIELD_WOOD40_RIGHT
    config SPI
        default y
    config INPUT
        default y
    config ZMK_POINTING
        default y
    config ZMK_MOUSE
        default y
endif

if SHIELD_WOOD40_DONGLE
    config ZMK_SPLIT_ROLE_CENTRAL
        default y
endif
