#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp P       &kp B     &kp M      &kp L    &bootloader
                &kp D       &kp T     &kp N      &kp R    &kp H
                &kp ENTER   &kp G     &kp F      &kp J    &kp K
                &kp DEL     &kp BSPC  &kp RSHFT  &kp DOT  &kp COMMA
            >;
        };
    };
};