#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp M    &kp N    &kp O    &kp P      &kp ENTER
                &kp G    &kp H    &kp J    &kp K      &kp L
                &kp B    &kp T    &kp Y    &kp U      &kp I
                &kp ESC  &kp TAB  &kp SPC  &kp RSHFT  &bootloader
            >;
        };
    };
};